<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-body">
                        <slot name="body">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="card ">
                                        <div class="card-body">           
											<h4 class="card-title">Add Contact</h4>                                 
                                            <form @submit="submitClicked">
                                                <div class="form-row">
                                                    <div class="form-group col">
                                                        <input type="tel" class="form-control" placeholder="Contact" v-model="contact" required />
                                                    </div>
                                                </div>
                                                <div class="text-right">                                             
                                                    <button type="submit" class="btn btn-success">Submit</button>
                                                    <button type="button" class="btn btn-danger" @click="closeClicked">Close</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import axios from 'axios';
import mixin from '../../mixins.js';

export default {
    name: 'AddContact',
    mixins: [mixin],
    data: function(){
        return{
            contact: '',
        }
    },
    methods: {
        submitClicked: function(e){
            e.preventDefault();
            let comp = this;
            let formData = new FormData();
			formData.append("contact", this.contact);
			formData.append("type", 'User');
            formData.append("user_id", this.user_id);
			formData.append("token", this.accesstoken);
			let url = this.ip + "storeContact";
			axios.post(url, formData , comp.header)
			.then(function (response) {
				if(response.data.message == "success"){
					comp.notifyAdded();
					comp.$emit('submit', response.data.contacts);
				}
			})
			.catch(function (error) {
				console.log(error);
				comp.notifyCustom('Something Went Wrong', 'danger');
			})
        },
        closeClicked: function(){
            this.$emit('close');
        },
    },
    mounted(){
		
    }
}
</script>