<template>
  	<div class="card">
    	<AddContact v-if="isAddContactClicked" @close="addClose" @submit="newAdded" />
		<div class="card-body">
			<h4 class="card-title">Contacts
				<button class="btn btn-primary btn-sm pull-right" @click="addClicked">Add New</button>
			</h4>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Sr.</th>
						<th>Contact</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(contact, index) in contacts" v-bind:key="contact.id">
						<td>{{index+1}}</td>
						<td>{{contact.contact}}</td>
						<td>
							<a href="#" @click="deleteClicked(index)"><i class="fa fa-remove mr-1" style="color:red"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
  	</div>
</template>

<script>
import AddContact from './AddContact';
import axios from 'axios';
import mixin from '../../mixins.js';

export default {
	name: 'Contacts',
	mixins: [mixin],
	components: {
		AddContact,
	},
	data: function(){
		return{
			isAddContactClicked: false,
			contacts: [],
		}
	},
	methods: {
		addClicked: function(){
			this.isAddContactClicked = true;
		},
		newAdded: function(contacts){
			this.contacts = contacts;
			this.isAddContactClicked = false;
		},
		addClose: function(){
			this.isAddContactClicked = false;
		},
		deleteClicked: function(index){
			var comp = this;
			var url = this.ip + "deleteContact";
			let formData = new FormData();
			formData.append('token', this.accesstoken);
			formData.append('user_id', this.user_id);
			formData.append('id', this.contacts[index].id);
			axios.post(url, formData, this.header)
			.then(function (response) {
				if(response.data.message == 'success'){
					comp.contacts.splice(index, 1);
					comp.notifyCustom('Deleted', 'danger');
				}
			})
			.catch(function (error) {
				console.log(error);
			})	
		}
	},
	mounted(){
		var comp = this;
		var url = this.ip + "getContactsOfUser";
		let formData = new FormData();
		formData.append('token', this.accesstoken);
		formData.append('user_id', this.user_id);
        axios.post(url, formData, this.header)
        .then(function (response) {
            comp.contacts = response.data.data;
        })
        .catch(function (error) {
            console.log(error);
        })
	}
}
</script>
