<template>
    <footer class="main-footer py-5">
        <p class="text-muted text-center small p-0">© Copyright {{year}} — ONSETS</p>
        <div class="social d-table mx-auto">
            <a class="twitter mx-3 h4 d-inline-block text-secondary" href="https://twitter.com/DesignRevision" target="_blank">
                <i class="fa fa-twitter"></i> 
                <span class="sr-only">View our Twitter Profile</span> 
            </a>
            <a class="facebook mx-3 h4 d-inline-block text-secondary" href="https://www.facebook.com/designrevision" target="_blank">
                <i class="fa fa-facebook"></i> 
                <span class="sr-only">View our Facebook Profile <span></span></span>
            </a> 
            <a class="github mx-3 h4 d-inline-block text-secondary" href="https://github.com/designrevision" target="_blank">
                <i class="fa fa-github"></i> 
                <span class="sr-only">View our GitHub Profile</span>
            </a>
        </div>
    </footer>
</template>

<script>

export default {
    name: 'Footer',
    data: function(){
        return {
            year: '',
        }
    },
    methods: {
    },
    mounted(){
        this.year =new Date().getFullYear();
    }
}
</script>
