<template>
  <div class="row">
    <div class="col-md-4 col-sm-2"></div>
    <div class="col-md-4 col-sm-8">
      <div class="text-center">
        <img src="favicon.png" class="img img-responsive" height="150" width="150" alt="Card image cap">
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Login</h4>
          <form @submit="submitClicked">
            <div class="form-row">
              <div class="form-group col">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Enter Your Email" v-model="email" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Your Password" v-model="password" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
            </div>
          </form>
          <p class="text-center">Don't have an account. <router-link to="/register">Register</router-link></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-2"></div>
  </div>
</template>

<script>
import axios from 'axios';
import mixin from '../mixins.js';
import router from '../router';

export default {
  name: 'Login',
  mixins: [mixin],
  data: function(){
    return {
      email: "",
      password: "",
    }
  },
  methods: {
    submitClicked: function(e){
      e.preventDefault();
      let local = localStorage;
      let comp = this;
      let formData = new FormData();
      formData.append("email", this.email);
      formData.append("password", this.password);
      let url = this.ip + "loginUser";
      axios.post(url, formData , comp.header)
      .then(function (response) {
        if(response.data.message == "Found/Approved"){
          comp.user_id = response.data.user.id;
          comp.accesstoken = response.data.token;
          local.setItem("user_id", comp.user_id);
          local.setItem("accesstoken", comp.accesstoken);
          router.push('/profile');
        }
        else if(response.data.message == 'Expire'){
          comp.notifyCustom('Your account has been expired', 'danger');
        }
        else if(response.data.message == 'Found/Not approved'){
          comp.notifyCustom('Your account has not been approved.', 'danger');
        }
        else if(response.data.message == 'suspend'){
          comp.notifyCustom('Your account has been suspended.', 'danger');
        }
      })
      .catch(function (error) {
        console.log(error);
        comp.notifyCustom('Something Went Wrong', 'danger');
      })
    }
  }
}
</script>
