<template>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Edit Profile</h4>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-9">
                <div class="form-row">
                  <div class="form-group col">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="Name" />
                  </div>
                  <div class="form-group col">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Email" />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Password" />
                  </div>
                  <div class="form-group col">
                    <label>Role</label>
                    <select class="form-control">
                      <option disabled value="">Select Role</option>
                      <option>Importer</option>
                      <option>Exporter</option>
                      <option>Freight Agent</option>
                      <option>TPT Agent</option>
                    </select>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col">
                    <button type="button" class="btn btn-primary pull-right">Update</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <Addresses />
      </div>
      <div class="col-md-6">
        <Contacts />
      </div>
    </div>
  </div>
</template>

<script>
import Contacts from './Contacts/Contacts';
import Addresses from './Addresses/Addresses';

export default {
  name: 'Register',
  components: {
    Contacts, Addresses
  }
}
</script>
