<template>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="text-center">
        <img src="favicon.png" class="img img-responsive" height="150" width="150" alt="Card image cap">
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">Register</h4>
          <form @submit="submitClicked">
            <div class="form-row">
              <div class="form-group col">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" v-model="user.name" required />
              </div>
              <div class="form-group col">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="Email" v-model="user.email" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" v-model="user.password" required />
              </div>
              <div class="form-group col">
                <label>Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm Password" v-model="user.confirmPassword" required />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                  <label>Role</label>
                  <select class="form-control" v-model="user.role" required>
                    <option disabled value="">Select Role</option>
                    <option value="shipper">Shipper</option>
                    <option value="freight">Freight</option>
                  </select>
                </div>
            </div>
            <div class="form-row">
              <div class="form-group col">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
              </div>
            </div>
            <p class="text-center">Have an account. <router-link to="/login">Login</router-link></p>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</template>

<script>
import axios from 'axios';
import mixin from '../mixins.js';
import router from '../router';
export default {
  name: 'Register',
  mixins: [mixin],
  data: function(){
    return{
      user: {
        name: "",
        email: "",
        password: "",
        confirmPassword: "",
        role: "",
      }
    }
  },
  methods: {
      submitClicked: function(e){
          e.preventDefault();
          let comp = this;
          let formData = new FormData();
          formData.append("name", this.user.name);
          formData.append("role", this.user.role);
          formData.append("email", this.user.email);
          formData.append("password", this.user.password);
          formData.append("confirmPassword", this.user.confirmPassword);
          let url = this.ip + "storeUser";
          axios.post(url, formData , comp.header)
          .then(function (response) {
            if(response.data.message == "success"){
              comp.notifyCustom("Your account will be approved soon. Come back later to login.");
              router.push('/login');
            }
            else if(response.data.message == 'duplicate'){
              comp.notifyCustom('Email already registered', 'danger');
            }
          })
          .catch(function (error) {
            console.log(error);
            comp.notifyCustom('Something Went Wrong', 'danger');
          })
      }
  }
}
</script>
