<template>
  	<div class="card">
		<AddAddress v-if="isAddAddressClicked" @close="addClose" @submit="newAdded" />
		<div class="card-body">
			<h4 class="card-title">Addresses
				<button class="btn btn-primary btn-sm pull-right" @click="addClicked">Add New</button>
			</h4>
			<table class="table table-striped table-responsive-md">
				<thead>
					<tr>
						<th>Sr.</th>
						<th>Address</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(address, index) in addresses" v-bind:key="address.id">
						<td>{{index+1}}</td>
						<td>{{address.address}}</td>
						<td>
							<a href="#" @click="deleteClicked(index)"><i class="fa fa-remove mr-1" style="color:red"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
  	</div>
</template>

<script>
import AddAddress from './AddAddress';
import axios from 'axios';
import mixin from '../../mixins.js';

export default {
	name: 'Addresses',
	mixins: [mixin],
	components: {
		AddAddress
	},
	data: function(){
		return{
			isAddAddressClicked: false,
			addresses: [],
		}
	},
	methods: {
		addClicked: function(){
			this.isAddAddressClicked = true;
		},
		newAdded: function(addresses){
			this.addresses = addresses;
			this.isAddAddressClicked = false;
		},
		addClose: function(){
			this.isAddAddressClicked = false;
		},
		deleteClicked: function(index){
			var comp = this;
			var url = this.ip + "deleteAddress";
			let formData = new FormData();
			formData.append('token', this.accesstoken);
			formData.append('user_id', this.user_id);
			formData.append('id', this.addresses[index].id);
			axios.post(url, formData, this.header)
			.then(function (response) {
				if(response.data.message == 'success'){
					comp.addresses.splice(index, 1);
					comp.notifyCustom('Deleted', 'danger');
				}
			})
			.catch(function (error) {
				console.log(error);
			})	
		}
	},
	mounted(){
		var comp = this;
		var url = this.ip + "getAddressesOfUser";
		let formData = new FormData();
		formData.append('user_id', this.user_id);
		formData.append('token', this.accesstoken);
        axios.post(url, formData, this.header)
        .then(function (response) {
            comp.addresses = response.data.data;
        })
        .catch(function (error) {
            console.log(error);
        })
	}
}
</script>
