<template>
  	<div class="page-content" style="padding-top:0%">
		<Navbar />
      	<div class="content">
			<router-view />
  		</div>
		<Footer />
  	</div>
</template>

<script>
import Navbar from './components/Navbar';
import Footer from './components/Footer';

window.$ = require('jquery')
window.JQuery = require('jquery')
import 'jquery'
var $ = window.jQuery;

export default {
	name: 'app',
	components: {
        Navbar, Footer
    },  
}
</script>

<style lang="scss">
@import 'assets/css/shards.min.css';
@import 'assets/css/shards-demo.min.css';
@import url('assets/css/demo.css');
</style>