
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    overflow-y: auto;
    max-height: 90%;
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border-radius: 2px;
    transition: all .3s ease;
  }
  
  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }
  
  .modal-body {
    margin: 20px 0;
  }
  
  .modal-default-button {
    float: right;
  }
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
  .modal-enter {
    opacity: 0;
  }
  
  .modal-leave-active {
    opacity: 0;
  }
  
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .dropdownItem{
    color: black;
  }
  .btn-address{
    background: #525f7f;
  }
  .img{
    width: 150px;
    height: 150px;
  }
  .imgIcon{
    height: 50px;
    width: 50px;
  }
  .navColor li a{
    color:hsla(0,0%,100%,.8);
  
  }
  
  /*
   *  STYLE 3
   */
  
  #sidebar::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px #1E1E28;
      background-color:#e14eca;
  }
  
  #sidebar::-webkit-scrollbar
  {
      width: 6px;
      background-color:#e14eca;
  }
  
  #sidebar::-webkit-scrollbar-thumb
  {
      background-color:#1E1E28;
  }
  .form-check {
    margin-top: 2rem;
    padding-left: 0;
  }
  .btn-default{
    background-color:#ffc43a;
  }
  .btn{
    background-image:none;
  }
  ul  {
    list-style: none;
  }
  .sidebar{
    width: 230px;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }